[Unit]
Description = screencap
After=network.target

[Service]
Type = simple
ExecStart = /usr/share/voctomix-outcasts/ingest.py --host media-desktop --custom-pipeline "ximagesrc display-name=':0' name=videosrc use-damage=false ! videocrop left=1280 ! jpegenc ! mux. matroskamux name=mux ! queue max-size-time=4000000000 ! tcpclientsink host=192.168.10.15 port=30001"
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target
